/* Bottom tooltip  */
.bottom_tooltip {
  position: relative;
  display: inline-flex;
}

.bottom_tooltip .bottom_tooltip_text {
  visibility: hidden;
  background-color: #7e4700;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  margin-left: -60px;
}

.bottom_tooltip .bottom_tooltip_text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #7e4700 transparent;
}

.bottom_tooltip:hover .bottom_tooltip_text {
  visibility: visible;
}
