effects {
position: absolute;
width: 8px;
height: 8px;
border-radius: 50%;
background: #ffbf00;
pointer-events: none;
animation: Backgroundanimate 2s linear forwards;
}

@keyframes Backgroundanimate {
0% {
opacity: 1;
transform: translate(0, 0);
}
100% {
opacity: 0;
transform: translate(var(--x), var(--y));
}
}

.perspectiveBox {
  height: 350px;
  width: 350px;
  transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
  filter: blur(2px);
  opacity: 0.5;
  transition: 0.6s ease all;
  border-radius: 2rem;
  background: linear-gradient(325deg, #3f5efb, #fc466b);

  &:hover {
    transform: perspective(800px) rotateY(-15deg) translateY(-50px)
      rotateX(10deg) scale(1);
    filter: blur(0);
    opacity: 1;
  }
}