.imageStyle {
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 5px #ffa125, 0 0 10px #ffa125, 0 0 20px #ffa125;
  z-index: -1;
}

.spinner {
  animation: spin 80s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.reverse_spinner {
  animation: reverse-spin 80s linear infinite;
}
@keyframes reverse-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.tooltip_top {
  position: absolute;
  display: inline-block;
}

.tooltip_top .tooltiptext_top {
  visibility: hidden;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 10001;
  bottom: 100%;
  margin-left: -60px;
  border-radius: 20px;
  z-index: 10001;
}

.tooltip_top:hover .tooltiptext_top {
  visibility: visible;
  bottom: 100%;
  z-index: 10001;
  transition-delay: 11s;
  transition: ease-in-out;
}
