@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000;
}
.blurBackground {
  background-color: rgba(0, 0, 0, 0.562);
  backdrop-filter: blur(8px);
}
.bannerBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  backdrop-filter: blur(1px);
  overflow: hidden;
  height: 120%;
  background-image: linear-gradient(#f158001a 1px, transparent 1px),
    linear-gradient(to right, #f1580034 1px, #000 1px);
  background-size: 30px 30px;
  animation: banner-bg-light-dark 20s linear infinite;
  opacity: 5;
}
