.body {
  background: 0 0;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}
.loopWrapper {
  margin: 0 auto;
  position: relative;
  display: block;
  width: 100%;
  height: 100px;
  overflow: hidden;
  border-bottom: 3px solid #ffab2d;
  color: #fff;
}
.hill,
.mountain,
.rock,
.truck,
.truck:before,
.wheels {
  position: absolute;
}
.movingBuildings {
  width: 100%;
  height: 200%;
  bottom: 20px;
  animation: 35s linear infinite buildings;
}

.howrahBridge {
  position: absolute;
  height: 100px;
  width: 200%;
  bottom: -20px;
}
.rock {
  margin-top: -17%;
  height: 2%;
  width: 2%;
  bottom: -2px;
  border-radius: 20px;
  background: #000;
}
.truck,
.wheels {
  transition: none;
  width: 85px;
  margin-right: -60px;
  bottom: 0;
  right: 50%;
  background: #eee;
}
.howrahBridge {
  animation: 25s linear 1000ms infinite howrah-bridge;
}

.rock {
  animation: 4s linear -530ms infinite rock;
}
.truck {
  background: url(../../../public/images/header-footer/Footer-Taxi-removebg-preview.png)
    0 0 / contain no-repeat;
  height: 28px;
  animation: 4s 80ms infinite truck;
}
.wheels {
  animation: 4s 1ms infinite truck;
}
.truck:before {
  content: " ";
  width: 25px;
  box-shadow: -30px 28px 0 1.5px #fff, -35px 18px 0 1.5px #fff;
  animation: 1.5s 0ms infinite wind;
}
@keyframes howrah-bridge {
  0% {
    transform: translate(100%);
  }
  50% {
    transform: translate(0%);
  }
  100% {
    transform: translate(-100%);
  }
}
@keyframes rock {
  0% {
    right: -200px;
  }
  100% {
    right: 2000px;
  }
}
@keyframes truck {
  11%,
  6%,
  9% {
    transform: translateY(0);
  }
  7% {
    transform: translateY(-6px);
  }
  10% {
    transform: translateY(-1px);
  }
}
@keyframes wind {
  50% {
    transform: translateY(3px);
  }
}
@keyframes mtn {
  100% {
    transform: translateX(-2000px) rotate(130deg);
  }
}
@keyframes buildings {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
